table {
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 100%;
   color:rgb(32, 31, 31);
 }
 
td, th {
   border: 1px solid #525353;
   text-align: left;
   padding: 8px;
}

tr:nth-child(even) {
   background-color: #d1e8f381;
}

tr {
   transition: 0.3s ease;
}

tr:hover {
   background-color: #93d1eeb0;
}

.delbtn {
   background-color: rgba(236, 33, 33, 0.918);
   border: none;
   color: white;
   padding: 3px;
   border-radius: 3px;
   cursor: pointer;
}

.editbtn {
   background-color: rgba(68, 68, 236, 0.952);
   color: white;
   border: none;
   padding: 3px 7px;
   cursor: pointer;
   margin-right: 5px;
   border-radius: 3px;
}