.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 25px 0 ;
   h1 {
      color: #313131;
   }
   button {
      padding: 7px 15px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      background-color: #2a8aeb;
      transition: 0.3s ease;
      color: white;
      font-size: 17px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
      &:hover {
         box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      }
   }
}