* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

body {
  background-color: rgb(247, 247, 247);
}
.container {
  max-width: 1125px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}